<div class="container">
  <h1>Amazing app</h1>
  <h2>Hi hi hi hi </h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus magnam quibusdam nisi error, eaque laboriosam recusandae quos tempore possimus repellendus corrupti temporibus, odit, necessitatibus aut illum alias provident accusamus id!</p>
  <%= link_to 'Create flat', '#', class: 'btn btn-primary'  %>
</div>
